# Kicad creates its own backups - don't mess with those
KiCAD/supercharger/*-backups/**
KiCAD/supercharger/gerbers/**
KiCAD/supercharger/Specs/**
KiCAD/supercharger/production/**
KiCAD/supercharger/fp-info-cache
KiCAD/supercharger/*.csv
KiCAD/supercharger/*.xml
KiCAD/supercharger/*.stl
KiCAD/supercharger/*.step
KiCAD/supercharger/*.sldprt

KiCAD/intercooler/*-backups/**
KiCAD/intercooler/gerbers/**
KiCAD/intercooler/Specs/**
KiCAD/intercooler/production/**
KiCAD/intercooler/fp-info-cache
KiCAD/intercooler/*.csv
KiCAD/intercooler/*.xml

